@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../assets/parotta.jpg');
    background-size: cover 100vh;
    background-repeat: no-repeat;
}

.header{
    background: wheat;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
}

.header>.nav{
    display: flex;
    gap: 30px;
    padding: 1rem 0;
}

.header>span{
    display: none;
}

.header>.nav>p{
    font-size: 2rem;
    color: #846f3a;
}

.header>.nav>p:hover{
    text-decoration:underline;
    cursor: pointer;
}

.main-content{
    margin-top: 250px;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 250px; */
}

.home>.shop-name{
    font-size: 5rem;
    font-family: 'Libre Baskerville', serif;
    color: rgb(90, 63, 12);
}

.home>.shop-desc{
    font-size: 1.5rem;
}

.branch-details{
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    margin-top: 10rem;
}

.branch-details>p{
    font-size: 2.5rem;
    color: #846f3a;
    text-decoration-line: underline;
    text-decoration-style: double;
}

.branch-details>.branches{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 3rem;
}

.branches>.branch>img{
    border-radius: 5px;
    transition: transform 0.5s;
}

.branches>.branch>img:hover{
    /* border-radius: 5px; */
    transform: scale(1.1, 1.1);
}

.branches>.branch>p{
    text-align: center;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #846f3a;
    margin-top: 1rem;
}

.footer{
    width: 100%;
    height: max-content;
    background-color: rgba(0, 0, 0, 1);
    margin-top: 8rem;
    color: white;
    padding: 1.5rem 0 1.5rem 0;
}

.footer>p{
    text-align: center;
    font-size: 2.5rem;
    color: #846f3a;
    text-decoration-line: underline;
    text-decoration-style: double;
    margin-bottom: 1rem;
}

.footer>.credits{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.footer>.credits>.img-credits{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.img-credits>p{
    border: 1px solid #846f3a;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color: goldenrod;
    color: rgb(41, 40, 40);
}

.img-credits>p>a{
    text-decoration: none;
    color: black;
    background-color: pink;
    padding: 2px 5px;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.img-credits>p>a:hover{
    background-color: palevioletred;
}

.web-credit>p{
    font-size: 1.2rem;
    font-style: italic;
    color: goldenrod;
}

.about{
    padding: 50px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    /* border-right: 2px solid #846f3a; */
    background-color: rgba(255, 255, 255, 0.9);
}

.about>.timing-address{
    border-right: 2px solid #846f3a;
    padding-right: 50px;
}

.timing-address>p:first-child{
    font-size: 2rem;
    padding-bottom: 10px;
    color: #846f3a;
}

.timing-address>p{
    font-size: 1.2rem;
}

.address{
    margin-top: 20px;
}

.address>p:first-child{
    font-size: 2rem;
    padding-bottom: 10px;
    color: #846f3a;
}

.address>p{
    font-size: 1.2rem;
}

.about>.contact>form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about>.contact>p{
    font-size: 2rem;
    padding-bottom: 10px;
    color: #846f3a;
}

.contact>form>input{
    font-size: 1rem;
    padding: 5px;
    width: 250px;
}

.contact>form>textarea{
    width: 250px;
    height: 100px;
}

.contact>form>.send-button{
    font-size: 1.2rem;
    padding: 5px 0;
    background-color: goldenrod;
    border: none;
    border-radius: 5px;
    color: black;
}

.contact>form>.send-button:active{
    transform: scale(0.9, 0.9);
}

.menu{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem 0;
}

.menu>.Breakfast, .menu>.Lunch, .menu>.Dinner, .menu>.Beverages{
    font-size: 2rem;
    padding-bottom: 10px;
    color: #846f3a;
    text-decoration-style: double;
    text-decoration-color: #846f3a;
    text-decoration-line: underline;
}

.menu>p{
    font-size: 1.2rem;
    padding-bottom: 5px;
}

.menu>p:last-child{
    padding-bottom: 0;
}

@media screen and (max-width: 415px){
    body{
        background-size: contain;
    }

    .header>span{
        display: none;
    }

    .header>.nav{
        padding: 0;
        padding: 0.8rem 0;
    }

    .header>.nav>p{
        font-size: 1.5rem;
    }

    .header>.nav>p:active{
        background-color: burlywood;
    }

    .main-content{
        margin-top: 235px;
    }

    .home>.shop-name{
        font-size: 3rem;
        text-align: center;
        color: rgb(238 167 32);
    }
    
    .home>.shop-desc{
        font-size: 1.2rem;
        text-align: center;
    }

    .branch-details>.branches{
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-top: 2rem;
    }

    .branch-details>p{
        font-size: 2rem;
        color: #f0f406;
    }

    .branch-details{
        margin-top: 2rem;
        padding: 1.5rem 0;
        background-color: rgb(238 167 32);
    }

    .branches>.branch>p{
        margin-top: 0.5rem;
        color: black;
    }

    .footer>.credits{
        flex-direction: column;
    }

    .footer{
        margin-top: 0;
    }

    .footer>p{
        color: #f0f405;
    }

    .web-credit{
        text-align: center;
        padding-top: 10px;
    }

    .menu{
        background-color: rgb(245 180 9);
    }

    .menu>.Breakfast, .menu>.Lunch, .menu>.Dinner, .menu>.Beverages{
        color: #19a184;
    }

    .about{
        flex-direction: column;
        padding-left: 10%;
        padding-top: 20px;
        gap: 15px;
    }

    .address{
        margin-top: 15px;
    }

    .contact>form>.send-button{
        width: max-content;
        padding: 10px;
    }
}